html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor_pos{
    pointer-events: none;
    position: fixed;
    border: 4px solid #000;
}