@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    margin: 0;
    background: #444;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    cursor: none;
}

tr, td {
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    text-align: center;
}

h1 {
    margin: 0;
}

#colorpicker {
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    border: none;
}

/*remove border from color input*/

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

::-moz-color-swatch {
    border: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.95);
    }
    to {
        transform: scale(1);
    }
}

#minesweeper:hover {
    background: url('../res/tiles/empty_tile.png');
    background-position-y: center;
    image-rendering: pixelated;
    background-size: 50px 50px;
    color: #000;
    text-shadow: 1px 1px 10px #fff;
}

svg {
    overflow: visible!important;
    position: fixed;
    pointer-events: none;
    display: none;
}

circle {
    border: 1px solid #fff;
}

.brush_size_display{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
}

/*lines below set canvas to take up remaining page*/

html, body {
    height: 100%;
    margin: 0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .row.content {
    flex: 1 1 auto;
}